:root {
    --main-color: #518581;
    --secondary-color: #FFB23F;
    --text-color: #151411;
    --paragraph-c: #AFADB5;
    --placeholder: #F9F9F9;
    --screen-colo: #FFFFFF;
    --line-color: #F3F3F3;
    --button-color: #518581;
    --shadow-color : #eeeeee;
    --shadow-color2:#9d9d9d;
    ;
}

@font-face {
    font-family: EudoxusSans;
    src: url('./fonts/EudoxusSans-Regular.woff2') format('woff2');
}

html {
    font-size: 100%;
}

body {
    background-color: var(--screen-color);
}

/*/////heading styles/////*/
.h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: EudoxusSans, serif;
    font-style: normal;
    font-weight: 700;
    line-height: 50px;
    color: #000000;
}

.h1 {
    font-size: 64px;
}

.h2 {
    font-size: 44px;
}

.h3 {
    font-size: 35px;
}

.h4 {
    font-size: 20px;
}

.h5 {
    font-size: 18px;
}

.h6 {
    font-size: 15px;
}


/*////paragraph styles////*/
.p1 {
    font-size: 18px;
}

.p2 {
    font-size: 16px;
}

.p3 {
    font-size: 14px;
}

.p4 {
    font-size: 12px;
}


/*////////start of header////////*/

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
    padding-top: 20px;
}

.header-logo {
    display: flex;
}

.header-links > a {
    margin-right: 30px;
    color: #151411;
    text-decoration: none;
}

.header-icons-laptop > i {
    font-size: 20px;
    margin-right: 20px;
    cursor: pointer;

}

.header-icons-mobile {
    display: none;
    font-size: 20px;
    cursor: pointer;
}

/*///////end of header///////*/


/*////////start of discover/////////////*/

.discover-container .text2 {
    color: #AFADB5;

}

.discover-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;
    margin-top: 50px;
    /*width: 100%;*/
}

.discover-image {
    position: absolute;
    width: 132px;
    height: 141px;
    top: 50%;
    left: 22%;
}

/*////////end of discover/////////////*/


/*////////start of search/////////////*/

.search-container {
    width: 90%;
    margin: 100px auto;
    position: relative;
}

.search-container img {
    height: auto;
    width: 100%;
}

.search-box {
    box-shadow: 0 4px 80px var(--shadow-color);
    display: flex;
    width: 60%;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 20%;
    background-color: #FFFFFF;
    padding: 0 20px;
    top: -30px;
}

.search-box > i {
    margin-right: 20px;
    font-size: 20px;
    color: #AFADB5;
    cursor: pointer;
}

.search-box > input::placeholder {
    font-size: 18px;
    padding-left: 10px;
}

.search-box > input:focus {
    outline: 1px solid #b7b5b7;
}

.search-box > input {
    width: 100%;
    padding: 20px 0;
    border: none;
}

.search-box > button {
    background: #518581;
    padding: 10px 35px;
    border: none;
    color: #FFFFFF;
    cursor: pointer;
}

/*////////////end of search////////*/


/*////////start of benefits/////////////*/
.benefits {
    margin-bottom: 90px;
}

.benefits-container {
    width: 90%;
    margin: 0 auto 150px;
}

.benefits-row1 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}


.benefits-row2 {
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
}

.benefits-row2-item {
    display: flex;
    flex-direction: column;
    width: 28%;
    background-color: #FFFFFF;
    box-shadow: 0 0 20px var(--shadow-color);
    padding: 30px 20px;
}

.benefits-row2-item:nth-child(2) {
    margin-top:-50px;
}

.benefits-row2-item > img {
    width: 62px;
    height: 62px;
}

/*////////end of benefits/////////////*/


/* ---------------popular products start-------------- */
.popular-products-container {
    flex-direction: column;
    margin-bottom: 150px;

}
.p-products-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 60px;
}

.p-products-text p{
    margin-top: 30px;
}

.p-products-pics {
    display: flex;
    overflow-y: hidden;
    justify-content: space-between;
    position: relative;
}

.p-products-pics .cards img {
    width: 300px;
    aspect-ratio: 1/1;
    margin-bottom:20px;
}
 
.arrow1 , .arrow2 {
    width: 30px;
    aspect-ratio: 1/1;
    background-color:var(--text-color);
    opacity: 70%;
    border-radius: 50%;
    position: absolute;
   display: flex;
   justify-content: center;
   align-items: center;
   cursor: pointer;
}

.arrow1 img , .arrow2 img {
    width: 5px;
    aspect-ratio: 1/2;
}

.arrow1 {
    top: 30%;
    left: 3%;
}

.arrow2 {
    top: 30%;
    right: 3%;
}

/* ---------------popular products end-------------- */

/* ---------------our products start-------------- */
/* .our-products-container{
    margin-bottom: 50px;
}
.our-products-container > span{
   margin-left: 80px;
}

.our-products {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 80px 50px 80px;
}


.o-products-num-container {
    width: 35%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.o-products-num-container div {
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.o-products-description { 
    display: flex;
    justify-content: space-between;
    margin: 0 80px;
}

.o-p-d-left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 50px;
}

.o-p-d-left img{
    width:500px ;
    aspect-ratio: 2/1;
}

.o-p-d-right img {
    width: 500px;
    aspect-ratio: 1/1;
}

.o-p-d-left button {
    width: 25%;
    aspect-ratio: 3/1;
    border: none;
    background-color: var(--main-color);
    color: var(--line-color);
    font-family: EudoxusSans;
    
} */
.o-p-span {
    margin-left: 60px;
}

.our-products-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    margin: 0 60px 150px;
}

.o-p-left {
    height: 685px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.o-p-left p {
    margin-right: 60px;
}

.o-p-left button {
    border: none;
    background-color: var(--button-color);
    width: 140px;
    aspect-ratio: 3/1;
    color: var(--placeholder);
    font-weight: 700;
    cursor: pointer;
} 

.o-p-left img {
    width: 650px;
    aspect-ratio: 2/1;
}

.o-p-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.o-p-right img {
    width: 500px;
    aspect-ratio: 1/1;
}

.o-p-num-container {
    display: flex;
    justify-content: space-around;
    width: 450px;
    margin-bottom: 70px;
}
.o-p-num-container h3 {
    margin-bottom: 10px;
}
/* ---------------our products end-------------- */

/* ---------------customers start-------------- */
.customers-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
    overflow-x: hidden;
} 

.customers-container .paragraphs{
    text-align: center;
    margin: 20px auto 30px; 
}

.comments {
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.comment-card {
    width: 554px;
    height: 256px;
    margin: 20px;
    padding-bottom: 20px;
    box-shadow: 0 0 12px var(--shadow-color);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}

.comment-card p:first-of-type{
    text-align: left;
    margin: 15px 20px 30px;
}

.customer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 20px;
    width: 500px;
}
.c-info-container {
    width: 200px;
    display: flex;
    justify-content: space-evenly;
}
.quote {
    width: 40px;
    aspect-ratio: 1/1;
    margin: 20px;
}
/* ---------------customers end-------------- */

/* ---------------best furniture start-------------- */
.b-f-span {
    margin-left: 125px;
}

.best-furniture {
    display: flex;
    justify-content: space-around;
    height: 900px;
}

.b-f-left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

.b-f-left >img {
    width: 500px;
    aspect-ratio: 1/1;
    position: absolute;
    top: 300px;
}

.b-f-clock-text , .b-f-clock-text h4 , .b-f-clock-text button{
    font-family: EudoxusSans;
    color: var(--line-color);
}

.b-f-clock-text {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: relative;
    top: -100px;
    left: 20px;
}

.b-f-arrows {
    position: relative;
    top: -380px;
    right: -380px;
    display: flex;
}

.b-f-right-arrow  {
    background-color: var(--button-color);


    width: 20px;
    padding: 20px;
    box-shadow:0 0 122px var(--shadow-color2);
}

.b-f-left-arrow  {
    background-color: var(--screen-colo);

    width: 20px;
    padding: 20px;
    box-shadow:0 0 122px var(--shadow-color2) ;
}
/* ---------------best furniture end-------------- */

/* ---------texts styles start--------- */
.small-titles {
    font-family: EudoxusSans;
    color: var(--secondary-color);
}

.big-titles {
    font-family: EudoxusSans;
    color: var(--text-color);
}

.paragraphs {
    font-family: EudoxusSans;
    color: var(--paragraph-c);
    line-height: 20px;
}

/* -------------texts styles end------------- */



/* -----------mobile version start----------- */

@media only screen and (max-width: 768px) {
    .h2 {
        font-weight: 700;
        font-size: 26px;
        line-height: 130%;
        /* or 34px */

        text-align: center;
        letter-spacing: 0.01em;
    }

    .header-links {
        display: none;
    }

    .header-icons-laptop {
        display: none;
    }

    .header-icons-mobile {
        display: block;
    }

    .discover-container {
        width: 90%;
        margin: 20px auto 0;
    }

    .discover-image {
        width: 52px;
        height: 51px;
        top: 20%;
        left: 12%;
    }

    .discover-container .text2 {
        margin-top: 40px;
    }

    .search-box {
        width: 100%;
        left: 0;
        padding: 0;
        top: -70px;
    }

    /* ---------------benefits start-------------- */

    .benefits-container {
        margin-bottom: 0;
    }

    .benefits-row1 {
        flex-direction: column;
        margin-bottom: 0;
    }

    .benefits-row1 p {
        text-align: left;
    }

    .benefits-row1-right {
        margin-top: 20px;

    }

    .benefits-row2 {
        flex-direction: column;

    }

    .benefits-row2-item {
        width: 90%;
        margin: 20px auto;
    }

    .benefits-row2-item:nth-child(2) {
        margin: 0;
    }
    /* ---------------benefits start-------------- */

    /* ---------------popular products start-------------- */
    .popular-products-container {
        margin-bottom: 100px;
        overflow-y: hidden;
        scrollbar-width: none; /* hiding scrollbar for IE & Edge*/
        -ms-overflow-style: none; /* hiding scrollbar for Fire fox*/
    }

    .p-products-pics::-webkit-scrollbar{ /* hiding scrollbar for Chrome*/
        display: none;
    }
    .p-products-text {
        text-align: left;
        margin:0 10px 40px 35px;
    }

    .p-products-pics .cards {
        margin:0 7px 0 7px;
    }

    .p-products-pics .cards img {
        width: 220px;
        aspect-ratio: 1/.9;
    }

    .arrow1 {
       display: none;
    }
    
    .arrow2 {
        display: none;
    }
    
    /* ---------------popular products end-------------- */

    /* ---------------our products start-------------- */
    /* .our-products-container > span{
        margin-left: 20px;
        font-size: small;
     }
     
    .our-products {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        text-align: left;
        position: relative;
    }

    .our-products h2{
        position: absolute;
        top: 0px;
        left: -60px;
        font-size: 19px;
        font-weight: 900;
        text-align: left;
    }

    .o-products-description {
        position: relative;
    }
    .o-p-d-left button{
        width: 290px;
        height: 40px;    
        position: absolute; 
        left: -40%;  
        top: 32%;     
    }
    .o-p-d-left p{
        position: relative;
        top: -26%;
        left: -23%;
        text-align: left;
    }

    .o-p-d-left img{
        width: 250px;
        position: absolute;
        top: 59%;
        aspect-ratio: 2/1;
    }

    .o-p-d-right img{
        width: 250px;
        aspect-ratio: 2/1;
        position: absolute;
        top: 90%;
    } */
    .o-p-span {
        margin-left: 25px;
    }
    
    .our-products-container {
        margin:0 25px 50px;
        display: flex;
        flex-direction: column;
    }

    .o-p-left {
        display: flex;
        flex-direction: column;
        width: auto;
        height: 550px;
    }

    .o-p-left h2 {
        text-align: justify;
        font-size: 24px;
    }

    .o-p-left p {
        font-size: 14px;
        margin-right: 10%;
        text-align: justify; 
        margin-top: 7%;  
    }

    .o-p-left button {
        width: 100%;
        height: 60px;
        margin-top: 7%;
    }

    .o-p-left img {
        width: 100%;
        margin-top:190px ;
    }

    .o-p-num-container {
        width: 100%;
        /* margin-top:-40% ; */
        margin: top -40px;
        margin-top:-215px;
        display: flex;
        justify-content: space-around;
    }

    .o-p-num-container h3 {
        font-size: 24px;
    }

    .o-p-right{
        width: 100%;
    }

    .o-p-right img {
        width: 100%;
        aspect-ratio: 2/1;
        margin-top:370px ;
    }
    /* ---------------our products end-------------- *

    /* ---------------customers start-------------- */
    .customers-container {
        padding: 0 40px;
    }

    .customer {
        width: 520px;
        margin:0 -40px 0 -10px;
    }

    .customers-container  .paragraphs {
        text-align:left ;
        margin: 10px 20px 10px; 
    }

    .comments {
        margin : 20px 0 50px 50px;
    } 

    .comment-card{
        width: 80%;
        padding: 20px;
        margin: 0 20px;
    }

    .comment-card:nth-child(odd) {
      display: none;
    }

    .comment-card p:first-of-type {
        margin: 0px;
    }
    /* ---------------customers end-------------- */
}

/* -----------mobile version end----------- */